<li [ngClass]="{'list-group-item': true,
'list-group-item-success': loveIts > 0,
'list-group-item-danger':  0 > loveIts}">
<h6 class="text-right">{{created_at | date:'short'}}</h6>
<h4 [ngStyle]="{color : getColor()}">{{title}}</h4>
  <div>{{content}}</div>
  <button class="btn btn-success" (click)="onLoveIt()">Love It!</button>
  <button class="btn btn-danger"(click)="onDontLoveIt()">Don't love It!</button>
</li>
