
<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Post</h2>
        <ul class="list-group">
            <app-post-list-item *ngFor="let post of posts"
            [title]="post.title"
            [created_at]="post.created_at"
            [content]="post.content"
            [loveIts]="post.loveIts"
 ></app-post-list-item>
        </ul>
      </div>
    </div>
  </div>